<section class="bundle-banner">
  <div class="container">
    {% if section.settings.image != blank %}
      <img src="{{ section.settings.image | img_url: 'master' }}">
    {% endif %}
    <div class="text">
      <h2>{{ section.settings.title }}</h2>
      <a href="{{ section.settings.link }}" class="btn red-btn">{{ section.settings.link_text}}</a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "id": "title",
        "type": "html",
        "label": "Title"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Link URL"
      },
      {
        "id": "link_text",
        "type": "text",
        "label": "Link text"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
