<section class="school-testimonials">
  <div class="container">
    <div class="testimonials">
    {% for block in section.blocks %}
      <div class="testimonial">
        <div class="image">
          <img src="{{ block.settings.image | img_url: 'master' }}">
        </div>
        <div class="text">
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h2 class="testi-heading">{{ block.settings.title }}</h2>
          {{ block.settings.text }}
          <div class="author">
            {{ block.settings.author }}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Testimonials",
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "Text"
          },
          {
            "id": "author",
            "type": "text",
            "label": "Author"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
