<section class="product-details more-details omega-details">
	<div class="container">
    <h2><ls-static-51922>Product Details</ls-static-51922></h2>
    <div class="product-details-cards">
      <div class="card">
        <div class="icon">
          <img src="{{'detail-1.png' | asset_url}}">
        </div>
        <div class="text">
          <ls-static-787361>1200 mg total Omega 3s </ls-static-787361> <br> <ls-static-854799>per serving</ls-static-854799>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <img src="{{'detail-2.png' | asset_url}}">
        </div>
        <div class="text">
          <ls-static-228287>Supports cognition, memory,</ls-static-228287> <br> <ls-static-640589>and emotional well-being</ls-static-640589>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <img src="{{'detail-3.png' | asset_url}}">
        </div>
        <div class="text">
          <ls-static-816906>Delightful natural Orange flavor,</ls-static-816906> <br> <ls-static-430596>sweetened with monk fruit</ls-static-430596>
        </div>
      </div>
    </div>
    <div class="dropdown-list">
        <div class="dropdown-item">
          <div class="title">
            <ls-static-9930895>Product Benefits</ls-static-9930895>
          </div>
          <div class="text">
            <p><ls-static-659276>Simple Spectrum Omega 3 DHA supplement is designed for cognitive support for the developing brain and nervous system.</ls-static-659276></p>
            <ul>
              <li><ls-static-769592>- 1200 mg total Omega 3s per serving</ls-static-769592></li>
              <li><ls-static-835220>- Supports cognition, memory, and emotional well-being</ls-static-835220></li>
              <li><ls-static-496617>- Delightful natural Orange dream flavor sweetened with monk fruit</ls-static-496617></li>
            </ul>
            <br>
            <p>
              <ls-static-419224>Omega 3 fatty acids are a type of fat that is essential for the body, which means the body cannot make it on its own and it is needed from the diet.</ls-static-419224>
            </p>
            <ul>
              <li><ls-static-914501>- Docosahexaenoic Acid (DHA): supports brain health, mood, and anti-inflammatory</ls-static-914501></li>
              <li><ls-static-476404>- Eicosapentaenoic Acid (EPA): supports brain health, mood, and anti-inflammatory</ls-static-476404></li>
              <li><ls-static-106542>- Docosapentaenoic Acid (DPA): supports brain health, nerve transmission, and mood</ls-static-106542></li>
            </ul>
            <br>
            <p><ls-static-44615>Simple Spectrum Omega 3 DHA supplement is made with the triglyceride form, which are more easily absorbed and more stable.</ls-static-44615></p>
          </div>
        </div>
        <div class="dropdown-item">
          <div class="title">
            <ls-static-2531532>Supplement Facts & Ingredients</ls-static-2531532>
          </div>
          <div class="text">
            <img src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Specs.png?v=1619805244">
            <p><ls-static-962852>Simple Spectrum Omega 3 DHA supplement is designed with our kids with sensory needs in mind and is a natural flavored liquid, sweetened with monk fruit, with no added soy, gluten, casein, nuts, dairy, GMOs, added sugar, artificial preservatives, or artificial ingredients or flavoring. Our products are all third party tested for purity and quality. The highest quality nutrients in the best forms - it really is quite simple.</ls-static-962852></p>
            <br>
            <p><ls-static-888800>What makes our fish oil unique is that you will see a TG on the label. TG stands for triglyceride form of omega-3. This is the form found in nature. Most natural oils – such as olive oil and corn oil - are in the triglyceride form. Concentrated fish oils on the other hand have different molecular structures, with the Ethyl Ester form being most common. Clinical studies suggest that the triglyceride form of omega-3 provides better bioavailability then restructured omega-3 forms. Simply put, our Triglycerides are more stable and absorb better.</ls-static-888800></p>
          </div>
        </div>
        <div class="dropdown-item">
          <div class="title">
            <ls-static-9053741>Suggested Use & Dosage</ls-static-9053741>
          </div>
          <div class="text">
            <p><ls-static-276924>Start out slow with half the recommendedamount and work to full dosage after 2 weeks.</ls-static-276924><br><strong><ls-static-184357>Please take with food.</ls-static-184357></strong></p>
			<table class="suggestedUse" width="400px">
              <tr>
				<td><ls-static-374242>30-90 lbs</ls-static-374242></td>
                <td><ls-static-549261>1/2 tsp</ls-static-549261> </td>
                <td><ls-static-403383>once per day</ls-static-403383></td>
              </tr>
              <tr>
                <td><ls-static-666744>91+ lbs</ls-static-666744> </td>
                <td><ls-static-218529>1 tsp</ls-static-218529> </td>
                <td><ls-static-150614>once per day</ls-static-150614></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="dropdown-item">
          <div class="title">
            <ls-static-4386734>Manufacturing & Expiration <span class="desktop">Information</span></ls-static-4386734>
          </div>
          <div class="text">
            <ls-static-4385254>Finding a manufacturing facility that met the high standards of our founders was extremely important to us. All of our manufacturing is done in a FDA certified facility right here in the U.S.A.</ls-static-4385254><br/><br/>
            <ls-static-4368923>Third-party testing is also very important to us. This means that an independent organization has reviewed our product and determined that the final product complies with specific standards for safety, quality, ingredient accuracy and performance. Basically, this is the most effective way to guarantee that the ingredients you intend to be in your product are actually in your product. Unfortunately, this is not the standard practice for most supplement makers but it absolutely should be!</ls-static-4368923><br/><br/>
            <ls-static-2833702>All of our supplement containers have the manufactured date listed on them. Our supplement is effective and safe to use for up to two years after the manufactured date.</ls-static-2833702>
          </div>
        </div>
      </div>
    </div>
</section>