<section class="post">
    <div class="container">
      <div class="post-content">
        <div id="customer-portal-root"></div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Customer Portal"
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}