@font-face {
  font-family: "Poppins";
	font-weight: normal;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-Regular.otf?v=182904193794275329561695168567);
}

@font-face {
  font-family: "Poppins";
	font-weight: normal;
	font-style: italic;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-Italic.otf?v=181337902332461465821695168565);
}

@font-face {
  font-family: "Poppins";
	font-weight: 900;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-Black.otf?v=58299346560735028701695168561);
}

@font-face {
  font-family: "Poppins";
	font-weight: 900;
	font-style: italic;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-BlackItalic.otf?v=29925474198096709941695168562);
}

@font-face {
  font-family: "Poppins";
	font-weight: 700;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-Bold.otf?v=81712858323680389381695168562);
}

@font-face {
  font-family: "Poppins";
	font-weight: 700;
	font-style: italic;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-BoldItalic.otf?v=5679760315339794351695168562);
}

@font-face {
  font-family: "Poppins";
	font-weight: 800;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-ExtraBold.otf?v=116909855821394518241695168563);
}

@font-face {
  font-family: "Poppins";
	font-weight: 800;
	font-style: italic;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-ExtraBoldItalic.otf?v=173438336331653023101695168563);
}

@font-face {
  font-family: "Poppins";
	font-weight: 600;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-SemiBold.otf?v=122233131769748208391695168568);
}

@font-face {
  font-family: "Poppins";
	font-weight: 600;
	font-style: italic;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-SemiBoldItalic.otf?v=181838702156694191281695168568);
}

@font-face {
  font-family: "Poppins";
	font-weight: 500;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-Medium.otf?v=76447545698827366151695168566);
}

@font-face {
  font-family: "Poppins";
	font-weight: 500;
	font-style: italic;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-MediumItalic.otf?v=68956914489024710591695168567);
}

@font-face {
  font-family: "Poppins";
	font-weight: 300;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-Light.otf?v=117304520830969070091695168565);
}

@font-face {
  font-family: "Poppins";
	font-weight: 300;
	font-style: italic;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-LightItalic.otf?v=178940768239836841641695168566);
}

@font-face {
  font-family: "Poppins";
	font-weight: 200;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-ExtraLight.otf?v=28579595629004402131695168564);
}

@font-face {
  font-family: "Poppins";
	font-weight: 200;
	font-style: italic;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-ExtraLightItalic.otf?v=39777807908610219471695168564);
}

@font-face {
  font-family: "Poppins";
	font-weight: 100;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-Thin.otf?v=137385993751096480871695168569);
}

@font-face {
  font-family: "Poppins";
	font-weight: 100;
	font-style: italic;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Poppins-ThinItalic.otf?v=158325789293461221591695168569);
}

@font-face {
  font-family: "Daydreamer";
	font-weight: normal;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/Daydreamer.ttf?v=30477756348756109851695168504);
}

@font-face {
  font-family: "VarelaRound";
	font-weight: normal;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/VarelaRound-Regular.otf?v=7104481367048678581695168598);
}

@font-face {
  font-family: "IcoFont";
	font-weight: normal;
	src: url(//simplespectrumsupplement.com/cdn/shop/t/39/assets/icofont.ttf?v=113786426124657660891695168537);
}
